// importo bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

header {
    background-color: rgb(49, 109, 109);

    a {
        color: #fff;
        text-decoration: none;
        font-weight: 500;
    }
}